<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="hoverable z-depth-1" src="{{site.baseurl}}/assets/res/about.JPG"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden"> Welcome to VisionWaves!</h4>
  </div>
  <div class="user-content">
    <p>
      This is my site on data science and image processing! 
     </p>
     <p style="text-align:justify;">
     My name is Márton Tárnok, and I'm a Computer Science student at Budapest University of Technology and Economics. 
      My passion lies in the fields of computer vision, image and video processing, deep learning, and data science. 
      I love to explore the possibilities of these exciting fields and share my knowledge with others.
    </p>
    <p style="text-align:justify;">
      Apart from my work, I like to explore new places and try different cuisines. You can often find me visiting new restaurants and cafes to try out the latest food trends. In my free time, I also enjoy biking and hiking, as I love to be outdoors and surrounded by nature. When I'm indoors, I enjoy playing board games with my friends.
    </p>
    <p style="text-align:justify;"> 
      Through this blog, I hope to create a platform to share my thoughts, ideas, and experiences in these fields, and provide insights into my works, Kaggle projects and publications for others who share the same interests.
    </p>
    <p style="text-align:justify;">
     Feel free to contact me about anything you read here! 
     </p>
  </div>
</div>